.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.container img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ingreso {
  /* top: 0%;
  left: 0%; */
  position: absolute;
  z-index: 15;
}

.button {
  width: 200px;
  height: 150px;
  margin: 15% 40%;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
