.cardCon {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 30px;
}

.card img {
  width: 200px;
  height: 200px;
}

.card {
  padding: 5px;
  border: 1px black solid;
  background: repeating-linear-gradient(135deg, red, black, white 100px);
}

.text {
  background-color: rgb(49, 48, 46);
  width: 230px;
  height: 100px;
  padding: 0 10px 0;
  color: red;
  
}
