/* .card {
    border: 5px solid #44045f;
    margin: 5px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #3a0850;
    color: beige;
    border-radius: 8%;
    width: 20%;
    height: 350px;
    position: relative;
    font-size: 90%;
}

.cardCon{
    width: 300px;
} */