.cardCon {
  position: relative;
  width: 250px;
  height: 325px;
  margin: 30px;
}

.card img {
  width: 200px;
  height: 200px;
}

.card {
  padding: 5px;
  border: 1px black solid;
  background: repeating-linear-gradient(135deg, red, black, white 150px);
}

.text {
  background: content-box;
  background-color: rgb(49, 48, 46);
  width: 230px;
  min-height: 100px;
  height: auto;
  padding: 0 10px 0;
  color: red;
  word-wrap: break-word;
}
