.descripcion {
  position: absolute;
  z-index: 4;
  top: 35%;
  left: 70%;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(143, 127, 127, 0.6);
  padding: 10px 30px;
  border-radius: 15px;
}

.descripcion h3{
    font-size: 1.7rem;
    font-weight: 900;
}
.descripcion h2{
    font-weight: 600;
}
.poke{
    position: absolute;
    z-index: 4;
    top: 37%;
    right: 60%;
    width: 400px;
    height: 400px;
}
.backgroundImg {
  position: relative;
  margin-top: 8%;
}

.imgN {
    position: absolute;
    bottom: 73%;
    width: 100vw;
    z-index: -1;
    height: 176px;
  }