.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: blue;
  color: white;
}
.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: blue;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.pageNumbers li button:focus {
    outline: none;
}
